doctype html
html
    head
        title R2-D2 Controller
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        style.
            h1 {
                text-align: center;
            }
            button {
                display: block;
                width: 300px;
                height: 50px;
                margin: 20px auto;
                font-size: 1em;
                color: white;
                border-radius: 10px;
                -webkit-appearance: none;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
            }
            #motor button {
                background-color: #1F3A93;
            }
            #led button {
                background-color: #CF000F;
            }
            #sound button {
                background-color: #6C7A89;
            }
    body
        h1 R2-D2 Controller
        div#motor
            button#forward forward
            button#backward backward
        div#led
            button#on LED on
            button#off LED off
        div#sound
            button#terminator TERMINATOR
            button#starwars STAR WARS
            button#gochiusa Daydream Café
            button#quiet Stop sound
        script.
            var forwardButton = document.getElementById('forward');
            var backwardButton = document.getElementById('backward');
            var ledOnButton = document.getElementById('on');
            var ledOffButton = document.getElementById('off');
            var terminatorSoundButton = document.getElementById('terminator');
            var starwarsSoundButton = document.getElementById('starwars');
            var gochiusaSoundButton = document.getElementById('gochiusa');
            var stopSoundButton = document.getElementById('quiet');
            
            function post(req) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/');
                xhr.send(req);
            }
            
            forwardButton.addEventListener('mousedown', e => post('forward'));
            forwardButton.addEventListener('mouseup', e => post('stop'));
            backwardButton.addEventListener('mousedown', e => post('backward'));
            backwardButton.addEventListener('mouseup', e => post('stop'));
            ledOnButton.addEventListener('mousedown', e => post('on'));
            ledOffButton.addEventListener('mousedown', e => post('off'));
            terminatorSoundButton.addEventListener('mousedown', e => post('terminator'));
            starwarsSoundButton.addEventListener('mousedown', e => post('starwars'));
            gochiusaSoundButton.addEventListener('mousedown', e => post('gochiusa'));
            stopSoundButton.addEventListener('mousedown', e => post('quiet'));
